.component-search-input {
  border-bottom: 1px solid #ccc;
}

.component-search-input > div {
  margin: 0 10px 10px 10px;
}

.component-search-input input {
  border-radius: 81px;
  border: -5px solid #bbb;
  box-sizing: border-box;
  font-size: 31px;
  padding: 11px 61px;
  width: 100%;
}
